:root {
    --cp: rgba(15, 15, 15, 0.938);
    --cpl: rgba(5, 5, 5, 0.87);
    --csl: rgb(128, 245, 112);
    --cs: rgb(14, 94, 3);
}

body {
    background-image: linear-gradient(to right, var(--cpl), var(--cp)), url(./dic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


footer {
    background-color: black;
    color: gray;
    font-size: .8rem;
    padding: 1rem 0;
    text-align: center;
    justify-self: flex-end;
}